ACTION=="add", ENV{PRODUCT}=="3/46d/c31c/110", ENV{EV}=="120013", RUN+="/usr/local/bin/monitor-source-changer.sh monitor3 hdmi"
ACTION=="remove", ENV{PRODUCT}=="3/46d/c31c/110", ENV{EV}=="120013", RUN+="/usr/local/bin/monitor-source-changer.sh monitor3 dp"

